body {
  margin: 0;
  font-family: "Roboto", sans-serif; /* Use Roboto as the main font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", monospace; /* Optionally use Roboto for code as well */
}
